<a ng-click="trackCtrl.setTags()" class="btn btn-default">Set tags</a>

<p>Length: {{ trackCtrl.tags.length }} {{ trackCtrl.tags.length / 60 }} {{ trackCtrl.tags.length % 60 }}</p>
<p>Bit rate: {{ trackCtrl.tags.bitRate }}</p>
<p>Constant bit rate: {{ trackCtrl.tags.constantBitRate }}</p>
<p>Sample rate: {{ trackCtrl.tags.sampleRate }}</p>

<h1>ID3v1</h1>
<p>Track: {{ trackCtrl.tags.id3v1.track }}</p>
<p>Artist: {{ trackCtrl.tags.id3v1.artist }}</p>
<p>Title: {{ trackCtrl.tags.id3v1.title }}</p>
<p>Album: {{ trackCtrl.tags.id3v1.album }}</p>
<p>Year: {{ trackCtrl.tags.id3v1.year }}</p>
<p>Genre: {{ trackCtrl.tags.id3v1.genre }}</p>
<p>Genre description: {{ trackCtrl.tags.id3v1.genreDescription }}</p>
<p>Comment: {{ trackCtrl.tags.id3v1.comment }}</p>
<p>Version: {{ trackCtrl.tags.id3v1.version }}</p>

<h1>ID3v2</h1>
<p>Track: {{ trackCtrl.tags.id3v2.track }}</p>
<p>Title: {{ trackCtrl.tags.id3v2.title }}</p>
<p>Artist: {{ trackCtrl.tags.id3v2.artist }}</p>
<p>Album: {{ trackCtrl.tags.id3v2.album }}</p>
<p>Album artist: {{ trackCtrl.tags.id3v2.albumArtist }}</p>
<p>Composer: {{ trackCtrl.tags.id3v2.composer }}</p>
<p>Genre: {{ trackCtrl.tags.id3v2.genre }}</p>
<p>Genre description: {{ trackCtrl.tags.id3v2.genreDescription }}</p>
<p>Year: {{ trackCtrl.tags.id3v2.year }}</p>
<p>BPM: {{ trackCtrl.tags.id3v2.bpm }}</p>
<p>Key: {{ trackCtrl.tags.id3v2.key }}</p>
<p>Comment: {{ trackCtrl.tags.id3v2.comment }}</p>
<p>Padding: {{ trackCtrl.tags.id3v2.padding }}</p>
<p>Version: {{ trackCtrl.tags.id3v2.version }}</p>
<p>Data length: {{ trackCtrl.tags.id3v2.dataLength }}</p>
<p>Obselete format: {{ trackCtrl.tags.id3v2.obseleteFormat }}</p>
<p>Frame sets: {{ trackCtrl.tags.id3v2.frameSets }}</p>
<p>Recording time: {{ trackCtrl.tags.id3v2.recordingTime }}</p>
<p>Original artist: {{ trackCtrl.tags.id3v2.originalArtist }}</p>
<p>Copyright: {{ trackCtrl.tags.id3v2.copyright }}</p>
<p>Grouping: {{ trackCtrl.tags.id3v2.grouping }}</p>
<p>Publisher: {{ trackCtrl.tags.id3v2.publisher }}</p>
<p>Artist URL: {{ trackCtrl.tags.id3v2.artistUrl }}</p>
<p>Commercial URL: {{ trackCtrl.tags.id3v2.commercialUrl }}</p>
<p>Copyright URL: {{ trackCtrl.tags.id3v2.copyrightUrl }}</p>
<p>Audiofile URL: {{ trackCtrl.tags.id3v2.audiofileUrl }}</p>
<p>Audio source URL: {{ trackCtrl.tags.id3v2.audioSourceUrl }}</p>
<p>Radio station URL: {{ trackCtrl.tags.id3v2.radiostationUrl }}</p>
<p>Payment URL: {{ trackCtrl.tags.id3v2.paymentUrl }}</p>
<p>Publisher URL: {{ trackCtrl.tags.id3v2.publisherUrl }}</p>
<p>Part of set: {{ trackCtrl.tags.id3v2.partOfSet }}</p>
<p>Compilation: {{ trackCtrl.tags.id3v2.compilation }}</p>
<p>Chapters: {{ trackCtrl.tags.id3v2.chapters }}</p>
<p>Chapter TOC: {{ trackCtrl.tags.id3v2.chapterTOC }}</p>
<p>Album image: {{ trackCtrl.tags.id3v2.albumImage }}</p>
<p>Album image mime type: {{ trackCtrl.tags.id3v2.albumImageMimeType }}</p>
<p>iTunes comment: {{ trackCtrl.tags.id3v2.itunesComment }}</p>
<p>Date: {{ trackCtrl.tags.id3v2.date }}</p>
<p>Encoder: {{ trackCtrl.tags.id3v2.encoder }}</p>
<p>URL: {{ trackCtrl.tags.id3v2.url }}</p>
<p>Length: {{ trackCtrl.tags.id3v2.length }}</p>
