<h1>{{ releaseCtrl.release.name }}</h1>
<p>Catalog number: {{ releaseCtrl.release.catalogNumber }}</p>
<p>Release date: {{ releaseCtrl.release.releaseDate }}</p>
<p>
    <a href="#/releases/{{ releaseCtrl.release.id }}/edit" class="btn btn-success">Edit</a>
    <a href="#/releases/" ng-click="releaseCtrl.delete()" class="btn btn-danger">Delete</a>
    <a ng-show="releaseCtrl.release.beatportId !== null" href="#/beatport/releases/{{ releaseCtrl.release.beatportId }}" class="btn btn-info">Beatport</a>
    <a ng-show="releaseCtrl.release.discogsId !== null" href="#/discogs/releases/{{ releaseCtrl.release.discogsId }}" class="btn btn-info">Discogs</a>
</p>
