<h1>
    <span ng-repeat="artist in releaseCtrl.release.artists | orderBy: 'orderNumber'">
        <a href="#/artists/{{ artist.artist.id }}">{{ artist.artist.name }}</a> {{ artist.joinText }}
    </span>
    - {{ releaseCtrl.release.name }}
</h1>

<p>Label: {{ releaseCtrl.release.label.name }}</p>
<p>Catalog number: {{ releaseCtrl.release.catalogNumber }}</p>
<p>Release date: {{ releaseCtrl.release.releaseDate }}</p>
<p>Import status: {{ releaseCtrl.release.importStatus.name }}</p>
<p>
    <a href="#/releases/{{ releaseCtrl.release.id }}/edit" class="btn btn-success">Edit</a>
    <a href="#/releases/{{ releaseCtrl.release.id }}/mixxx" class="btn btn-default">Mixxx</a>
    <a href="#/releases/" ng-click="releaseCtrl.delete()" class="btn btn-danger">Delete</a>
    <a ng-show="releaseCtrl.release.beatportId !== null" href="#/beatport/releases/{{ releaseCtrl.release.beatportId }}" class="btn btn-info">Beatport</a>
    <a ng-show="releaseCtrl.release.discogsId !== null" href="#/discogs/releases/{{ releaseCtrl.release.discogsId }}" class="btn btn-info">Discogs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Mix</th>
            <th>Remixers</th>
            <th>Genre</th>
            <th>BPM</th>
            <th>Key</th>
            <th>Duration</th>
            <th>Import status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="track in releaseCtrl.release.tracks | orderBy: 'position'">
            <td>{{ track.disc }} {{ track.position }}</td>
            <td>
                <span ng-repeat="artist in track.artists | orderBy: 'orderNumber'">
                    <a href="#/artists/{{ artist.artist.id }}">{{ artist.artist.name }}</a> {{ artist.joinText }}
                </span>
            </td>
            <td>{{ track.name }}</td>
            <td>{{ track.version }}</td>
            <td>
                <span ng-repeat="artist in track.remixers">
                    <a href="#/artists/{{ artist.id }}">{{ artist.name }}</a>
                </span>
            </td>
            <td>{{ track.genre.name }}</td>
            <td>{{ track.bpm }}</td>
            <td>{{ track.key.name }}</td>
            <td>{{ track.duration }}</td>
            <td>{{ track.importStatus.name }}</td>
        </tr>
    </tbody>
</table>
