<form ng-submit="releaseCtrl.submit()">
    <h1>
        <span ng-repeat="artist in releaseCtrl.release.artists">
            <a href="#/artists/{{ artist.artist.id }}">{{ artist.artist.name }}</a> {{ artist.joinText }}
        </span>
        - {{ releaseCtrl.release.name }}
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading">Linked tracks</div>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="track in releaseCtrl.linkedTracks">
                    <td>
                        {{ track.name}} {{ track.version }}
                        <button type="button" class="btn btn-default" ng-click="releaseCtrl.unlink(track)">Unlink</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Tracks not linked</div>
        <div ng-controller="MixxxTracksNotLinkedController as mixxxTracksCtrl">
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="track in releaseCtrl.notLinkedTracks">
                        <td>
                            <div class="form-group">
                                {{ track.name}} {{ track.version }}
                                <select class="form-control" ng-model="track.mixxxTrack" ng-options="mixxxTrack.artist + ' - ' + mixxxTrack.title for mixxxTrack in mixxxTracksCtrl.tracks | orderBy: 'title'" >
                                    <option value="">-None-</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">OK</button>
    <a href="#/releases/{{ releaseCtrl.release.id }}" class="btn btn-default">Cancel</a><br />
</form>
