<h1>Pianos</h1>
<table>
    <tr>
        <td>
            <object width="792" height="280" data="http://www.onlinepianist.com/virtual_piano/vp.swf"></object>
        </td>
        <td rowspan="2">
            <img src="http://www.harmonic-mixing.com/Images/camelotHarmonicMixing.jpg" alt="Wheel" />
        </td>
    </tr>
    <tr>
        <td>
            <object width="1024" height="600" data="http://www.bgfl.org/custom/resources_ftp/client_ftp/ks2/music/piano/flash/piano.swf"></object>
        </td>
    </tr>
</table>
