<div class="row">
    <div class="col-sm-4">
        <img src="{{ labelCtrl.label.imageUrl }}" alt="Image" />
    </div>
    <div class="col-sm-8">
        <h1>{{ labelCtrl.label.name }}</h1>
        <button type="button" class="btn btn-default" ng-click="labelCtrl.importReleases()">Import all</button>
        <a href="https://pro.beatport.com/label/{{ labelCtrl.label.slug }}/{{ labelCtrl.label.id }}"target="_blank">Beatport</a>
    </div>
</div>

<div data-beatport-releases data-releases="labelCtrl.releases"></div>
