<input type="text" ng-model="labels.filterText" ><br />
<form ng-submit="labels.import()">
    <input type="text" ng-model="labels.importUrl" >
    <input type="submit" value="Import" >
</form>
<table class="table">
    <tr ng-repeat="label in labels.labels | filter:labels.filterText | orderBy: 'name'">
        <td><a href="#/beatport/labels/{{ label.id }}/">{{ label.name }}</a></td>
        <td>{{ label.id }}</td>
        <td>{{ label.slug }}</td>
        <td>{{ label.imageUrl }}</td>
        <td><a ng-click="labels.reimport(label)" >Reimport</a></td>
        <td><a ng-click="labels.delete(label)" >Delete</a></td>
        <td><a href="https://pro.beatport.com/label/{{ label.slug }}/{{ label.id }}"target="_blank">Beatport</a></td>
        <td><span ng-show="label.imageUrl !== null"><a href="{{ label.imageUrl }}"target="_blank">Image</a></span></td>
    </tr>
</table>
