<input type="text" ng-model="tracks.filterText" ><br />
<table border="1">
    <tr ng-repeat="track in tracks.tracks | filter:tracks.filterText | orderBy: 'name'">
        <td>{{ track.id }}</td>
        <td>{{ track.slug }}</td>
        <td>{{ track.releaseId }}</td>
        <td>{{ track.orderNumber }}</td>
        <td>{{ track.title }}</td>
        <td>{{ track.remix }}</td>
        <td>{{ track.genre }}</td>
        <td>{{ track.bpm }}</td>
        <td>{{ track.keytone }}</td>
        <td>{{ track.duration }}</td>
        <td>{{ track.artists }}</td>
        <td>{{ track.remixers }}</td>
        <td><a ng-click="tracks.delete(track.id)" >Delete</a></td>
        <td><a href="https://pro.beatport.com/track/{{ track.slug }}/{{ track.id }}"target="_blank">Beatport</a></td>
    </tr>
</table>
