<div class="row">
    <div class="col-sm-4">
        <img src="{{ releaseCtrl.release.imageUrl }}" alt="Image" />
    </div>
    <div class="col-sm-8">
        <h1>{{ releaseCtrl.release.title }}</h1>
        <p ng-show="{{ releaseCtrl.release.isExclusive }}"><b>Exclusive</b></p>
        <p>Artists: <b>
                <span data-beatport-artists data-artists="releaseCtrl.release.artists"></span>
            </b></p>
        <p>Release date: <b>{{ releaseCtrl.release.releaseDate }}</b></p>
        <p>Label: <b><span data-beatport-label-link data-label="releaseCtrl.release.label"></span></b></p>
        <p>Catalog number: <b>{{ releaseCtrl.release.catalogNumber }}</b></p>
        <p style="white-space:pre-wrap;">Description: {{ releaseCtrl.release.description }}</p>
        <a ng-click="releaseCtrl.importToLibrary(releaseCtrl.release)" class="btn btn-default" >Import</a>
        <a ng-click="releaseCtrl.reimport(releaseCtrl.release)" class="btn btn-default" >Reimport</a>
        <a ng-click="releaseCtrl.delete(releaseCtrl.release)" class="btn btn-danger" >Delete</a>
        <a href="https://pro.beatport.com/release/{{ releaseCtrl.release.slug }}/{{ releaseCtrl.release.id }}" class="btn btn-success" target="_blank">Beatport</a><br />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Title</th>
            <th>Artists</th>
            <th>Remixers</th>
            <th width="100">Genre</th>
            <th width="40">BPM</th>
            <th width="40">Key</th>
            <th width="60">Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="track in releaseCtrl.tracks | orderBy: 'orderNumber'">
            <td align="right">{{ track.orderNumber }}</td>
            <td><b>{{ track.title }}</b> {{ track.remix }}</td>
            <td>
                <span data-beatport-artists data-artists="track.artists"></span>
            </td>
            <td>
                <span data-beatport-artists data-artists="track.remixers"></span>
            </td>
            <td>{{ track.genre.name }}</td>
            <td align="right">{{ track.bpm }}</td>
            <td>{{ track.keytone }}</td>
            <td align="right">{{ track.duration | trackTime }}</td>
            <td><a href="https://pro.beatport.com/track/{{ track.slug }}/{{ track.id }}"target="_blank">Beatport</a></td>
        </tr>
    </tbody>
</table>
