<table border="1">
    <tr ng-repeat="label in labels.labels">
        <td>{{ label.name}}</td>
        <td>{{ label.beatportId}}</td>
        <td>{{ label.beatportUrl}}</td>
        <td>{{ label.discogsId}}</td>
        <td><a href="#/labels/{{ label.id }}">Edit</a></td>
        <td><a href="#/labels/" ng-click="labels.delete(label.id)" >Delete</a></td>
        <td><span ng-show="label.beatportId !== null"><a href="https://pro.beatport.com/{{ label.beatportUrl }}">Beatport</a></span></td>
        <td><span ng-show="label.discogsId !== null"><a href="http://www.discogs.com/label/{{ label.discogsId }}">Discogs</a></span></td>
    </tr>
</table>
