<input type="text" ng-model="artists.filterText" >
<a href="#/artists/add/">Add artist</a>
<table class="table">
    <tr ng-repeat="artist in artists.artists | filter:artists.filterText | orderBy: 'name'">
        <td>{{ artist.name }}</td>
        <td>{{ artist.beatportId }}</td>
        <td>{{ artist.discogsId }}</td>
        <td><a href="#/artists/{{ artist.id }}">Edit</a></td>
        <td><a href="#/artists/" ng-click="artists.delete(artist)" >Delete</a></td>
        <td><span ng-show="artist.beatportId !== null"><a href="#/beatport/artists/{{ artist.beatportId }}">Beatport</a></span></td>
        <td><span ng-show="artist.discogsId !== null"><a href="#/discogs/artists/{{ artist.discogsId }}">Discogs</a></span></td>
    </tr>
</table>
