<div class="row">
    <div class="col-sm-4">
        <img src="{{ artistCtrl.artist.imageUrl }}" alt="Image" />
    </div>
    <div class="col-sm-8">
        <h1>{{ artistCtrl.artist.name }}</h1>
        <button type="button" class="btn btn-default" ng-click="artistCtrl.reimport(artistCtrl.artist)" >Reimport</button>
        <button type="button" class="btn btn-default" ng-click="artistCtrl.importReleases()">Import all</button>
        <button type="button" class="btn btn-danger" ng-click="artistCtrl.delete(artistCtrl.artist)" >Delete</button>
        <a href="https://pro.beatport.com/artist/{{ artistCtrl.artist.slug }}/{{ artistCtrl.artist.id }}" target="_blank">Beatport</a>
    </div>
</div>

<div data-beatport-releases data-releases="artistCtrl.releases" data-show-label="true"></div>
