<h1>{{ statusCtrl.status.name }}</h1>
<div class="form-group">
    <input type="text" ng-model="statusCtrl.filterText" class="form-control" placeholder="Filter">
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Artists</th>
            <th>Label</th>
            <th>Catalog number</th>
            <th>Release date</th>
            <th>Import status</th>
            <th>Beatport ID</th>
            <th>Discogs ID</th>
            <th width="60"></th>
            <th width="80"></th>
            <th width="100"></th>
            <th width="100"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="release in statusCtrl.releases | filter:statusCtrl.filterText | orderBy: 'name'">
            <td><a href="#/releases/{{ release.id }}">{{ release.name }}</a></td>
            <td>
                <span ng-repeat="artist in release.artists | orderBy: 'orderNumber'">
                    <a href="#/artists/{{ artist.artist.id }}">{{ artist.artist.name }}</a> {{ artist.joinText }}
                </span>
            </td>
            <td>{{ release.label.name }}</td>
            <td>{{ release.catalogNumber }}</td>
            <td>{{ release.releaseDate }}</td>
            <td>{{ release.importStatus.name }}</td>
            <td>{{ release.beatportId }}</td>
            <td>{{ release.discogsId }}</td>
            <td><a href="#/statusCtrl/{{ release.id }}/edit" class="btn btn-success">Edit</a></td>
            <td><a href="#/statusCtrl/" ng-click="statusCtrl.delete(release)" class="btn btn-danger">Delete</a></td>
            <td><span ng-show="release.beatportId !== null"><a href="#/beatport/statusCtrl/{{ release.beatportId }}" class="btn btn-info">Beatport</a></span></td>
            <td><span ng-show="release.discogsId !== null"><a href="#/discogs/statusCtrl/{{ release.discogsId }}" class="btn btn-info">Discogs</a></span></td>
        </tr>
    </tbody>
</table>
