<table>
    <tr>
        <td>
            <img ng-src="{{ labelCtrl.label.images[0].uri }}" />
        </td>
        <td valign="top">
            <h1>{{ labelCtrl.label.name }}</h1>

            <p style="white-space:pre-wrap;">{{ labelCtrl.label.profile }}</p>

            <p ng-show="labelCtrl.label.parent_label != null">
                Parent label: <a href="#/discogs/labels/{{ labelCtrl.label.parent_label.id }}">{{ labelCtrl.label.parent_label.name }}</a>
            </p>

            <p ng-show="labelCtrl.label.sublabels != null">
                Sublabels:
                <span ng-repeat="label in labelCtrl.label.sublabels">
                    <a href="#/discogs/labels/{{ label.id }}">{{ label.name }}</a>, 
                </span>
            </p>

            <p><a href="{{ labelCtrl.label.uri }}" target="_blank">Discogs</a></p>
        </td>
    </tr>
</table>

<div>
    <span ng-repeat="page in labelCtrl.pages"><b ng-show="page.isCurrent">{{ page.pageNumber }}</b><a ng-hide="page.isCurrent" ng-click="labelCtrl.getReleases(page.pageNumber)">{{ page.pageNumber }}</a> </span>
</div>
<table class="table">
    <tbody>
        <tr ng-repeat="release in labelCtrl.releases.releases">
            <td>
                <img ng-src="{{ release.thumb }}" width="50" height="50" />
            </td>
            <td>
                {{ release.artist }}
            </td>
            <td>
                <a href="#/discogs/releases/{{ release.id }}">{{ release.title }}</a>
            </td>
            <td>
                {{ release.format }}
            </td>
            <td>
                {{ release.catno }}
            </td>
            <td>
                {{ release.year }}
            </td>
        </tr>
    </tbody>
</table>
