<table>
    <tr>
        <td>
            <img ng-src="{{ labelCtrl.label.images[0].uri }}" />
        </td>
        <td valign="top">
            <h1>{{ labelCtrl.label.name }}</h1>

            <p>{{ labelCtrl.label.profile }}</p>

            <p ng-show="labelCtrl.label.parent_label != null">
                Parent label: <a href="#/discogs/labels/{{ labelCtrl.label.parent_label.id }}">{{ labelCtrl.label.parent_label.name }}</a>
            </p>

            <p ng-show="labelCtrl.label.sublabels != null">
                Sublabels:
                <span ng-repeat="label in labelCtrl.label.sublabels">
                    <a href="#/discogs/labels/{{ label.id }}">{{ label.name }}</a>, 
                </span>
            </p>

            <p><a href="{{ labelCtrl.label.uri }}" target="_blank">Discogs</a></p>
        </td>
    </tr>
</table>
