<table>
    <tr>
        <td>
            <img ng-src="{{ masterCtrl.master.images[0].uri }}" />
        </td>
        <td valign="top">
            <h1>
                <span ng-repeat="artist in masterCtrl.master.artists">
                    <span data-discogs-artist data-artist="artist" data-last="$last" ></span>
                </span>
                - {{ masterCtrl.master.title }}
            </h1>

            <p ng-show="masterCtrl.master.styles != null">
                Styles:
                <span ng-repeat="style in masterCtrl.master.styles">
                    {{ style }}{{ $last ? '' : ', ' }}
                </span>
            </p>

            <p ng-show="masterCtrl.master.genres != null">
                Genres:
                <span ng-repeat="genre in masterCtrl.master.genres">
                    {{ genre }}{{ $last ? '' : ', ' }}
                </span>
            </p>
            
            <p>Year: {{ masterCtrl.master.year }}</p>

            <p><a href="{{ masterCtrl.master.uri }}" target="_blank">Discogs</a></p>
        </td>
    </tr>
</table>

<div ng-show="masterCtrl.master.tracklist != null">
    <h4>Tracklist</h4>
    <table class="table">
        <tbody>
            <tr ng-repeat="track in masterCtrl.master.tracklist">
                <td>
                    {{ track.position }}
                </td>
                <td>
                    {{ track.title }}
                </td>
                <td>
                    {{ track.duration }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Versions</h4>
<div>
    <span ng-repeat="page in masterCtrl.pages"><b ng-show="page.isCurrent">{{ page.pageNumber }}</b><a ng-hide="page.isCurrent" ng-click="masterCtrl.getVersions(page.pageNumber)">{{ page.pageNumber }}</a> </span>
</div>
<table class="table">
    <tbody>
        <tr ng-repeat="version in masterCtrl.versions.versions">
            <td>
                <img ng-src="{{ version.thumb }}" width="50" height="50" />
            </td>
            <td>
                <a href="#/discogs/releases/{{ version.id }}">{{ version.title }}</a>
            </td>
            <td>
                {{ version.format }}
            </td>
            <td>
                {{ version.label }}
            </td>
            <td>
                {{ version.catno }}
            </td>
            <td>
                {{ version.released }}
            </td>
        </tr>
    </tbody>
</table>
